<div class="create-profile-header">
  <h2>Create a Profile</h2>
</div>

<div class="create-profile-form">
  <form action="">
    <div class="create-profile-input-element">
      <label for="profile-username-input">Username</label>
      <input type="text" id="profile-username-input" required></input>
    </div>

    <div class="create-profile-input-element">
      <label for="profile-password-input">Password</label>
      <input type="text" id="profile-password-input"required>
    </div>

    <div class="create-profile-input-element">
      <label for="profile-email-input">Email</label>
      <input type="text" id="profile-email-input" required>
    </div>
    <button type="submit" id="submit-profile" class="action-button">Join</button>
  </form>
</div>
