{% extends "layouts/main.html" %}
{% block content %}
<main class="content">
  <section id="posts">

    {% for post in posts %}
    <div class="post" post-id="{{post.postID}}" user-id="{{post.userID}}">

      <div class="post-header">
        <a href="users/{{post.username}}" class="post-username">
          {{post.username}}
        </a>

        <span class="post-options-container">
          <button type="button" class="post-edit-button action-button">Edit</button>
          <button type="button" class="post-delete-button action-button">Delete</button>
        </span>

      </div>

      <div class="post-contents">

        <div class="post-graphic-container">
          <img src="{{post.graphic}}" alt="{{post.title}}">
        </div>

        <div class="post-sound-container">
          <audio controls>
            <source src="{{post.sound}}">
            Your browser does not support the audio element.
          </audio>
        </div>

        <div class="post-content-container">
          <a href="posts/{{post.postID}}" class="post-title">
            {{post.title}}
          </a>
          <p class="post-description">
            {{post.description}}
          </p>
        </div>

        <div class="post-embed-container">
          <a href="posts/{{post.embedPostID}}">
            [embedded post preview]
          </a>
        </div>

        <hr>

        <div class="post-info-container">
          <div class="post-time">{{post.timeCreated}}</div>
          <div class="post-tags">({{post.tags}})</div>
        </div>

        <div class="post-comments-container">

          <div id="comments">

              {% for comment in comments %}
                {% if comment.postID == post.postID %}
                <div class="comment" comment-id="{{comment.commentID}}" post-id="{{comment.postID}}" user-id="{{comment.userID}}">
                  <div class="comment-contents">
                    <a href="users/{{comment.username}}"class="comment-username">
                      {{comment.username}}
                    </a>
                    <p class="comment-text">
                      {{comment.text}}
                    </p>
                  </div>
                </div>
                {% endif %}
              {% endfor %}

          </div>

        </div>

        <div class="send-comments-container">
          <input type="text" id="text-input" class="text-box" placeholder="Leave a comment (be nice!)">
          <button class="send-button action-button">Send</button>
        </div>

      </div>
    </div>
    {% endfor %}

  </section>

  <button type="button" id="create-post-button"> + </button>

  <!-- Modal Stuff -->
  <div id="modal-backdrop" class="hidden"></div>

  <div id="create-modal" class="hidden">
    <div class="modal-dialog">
      <div class="modal-header">
        <h3>Create a Post</h3>
        <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
      </div>

      <!-- <hr id="create-hr"> -->

      <div class="modal-body">
        <div class="post-input-element" id="title-element">
          <input type="text" id="post-title-input" placeholder="Title" required></input>
        </div>

        <div class="post-input-element">
          <input type="text" id="post-graphic-input" placeholder="graphic" required>
        </div>

        <div class="post-input-element">
          <input type="text" id="post-sound-input" placeholder="sound" required>
        </div>

        <div class="post-input-element" id="description-element">
          <textarea id="post-description-input" placeholder="description"></textarea>
        </div>

        <div class="post-input-element">
          <input type="text" id="post-embed-input" placeholder="embed URL">
        </div>

        <div class="post-input-element">
          <input type="text" id="post-tags-input" placeholder="tags">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
        <button type="button" id="modal-accept" class="action-button">Publish</button>
      </div>
    </div>
  </div>

</main>
{% endblock %}
